@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");

.displayMealService-wrapper {
  // background-color: rgb(19, 42, 39);
  width:100%;
  position:absolute;
  bottom:0;
  height:200px;
  background: rgba(255, 253, 248, 0.575);
  overflow: auto;
  font-family: "Alice", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 1rem;


  &::-webkit-scrollbar{
      width:2px;
  }
  
}

.meal-details-wrapper{
    width:98%;
    margin:0 auto;
    bottom:0;
    padding:15px 0;
}

.diets-imgs-container{
    display:flex;
    flex-flow:row nowrap;
}
.diets-imgs {
 // filter: invert(0.7);
  width: 20px;
  height:20px;
}

.img-wrapper {
  height: 10%;
  margin: auto;
  background-color: rgb(10, 10, 10);
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.5);
}

.img-prev {
  top: 0;
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.serviceType-wrapper{
    padding:5px;
    padding-bottom:30px;
}

.serviceType {
    float:left;
  text-align: center;
  padding:52px;
  color:white;
  background-color: black;
  border-radius: 25px;
  font-size: .7em;
  margin: 0;
  font-weight: 400;
  font-family: "Alice", sans-serif;
}

.entre-container,
.sideOne-container,
.sideTwo-container,
.description-container {
  //  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.5);
  display:flex;
  flex-flow:row nowrap;
  justify-content: space-between;
  text-align: left;
  width:100%;
}

.home-entre-text {
  font-weight: 500;
}

.home-description-text {
  font-family: "Alice", sans-serif;
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 798px){
    .displayMealService-wrapper{
        
    }
    .meal-wrapper{
        
    }
}
