.preview-container{
    margin-top:-50px;
}
.lunch-container{
    height:480px;
    width:150px;
    overflow: auto;
    margin-top:150px;
    margin-right:150px;
    box-shadow: 0 5px 10px 4px rgba(0, 0, 0, 0.5);
    position:relative;
    
}

.entre-text{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size:22px;
    padding:0 15px;
    
}

.sideOne-text{
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    font-size:16px;
}

.sideTwo-text{
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    font-size:16px;
}

.description-text{
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    font-size:15px;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.img-prev{
    width:100%;
    height:30%;
    padding-bottom:10px;
}

.displayMealService-wrapper{
    position:absolute;
  
}

.line{
    width:80%;
    border-bottom:1px solid rgb(12, 19, 24);
    margin:auto;
}

@media screen and (max-width:1200px){
    .preview-container{
        width:20%;
        margin-right:100px;
    }
}