.about-container{
    width:60%;
    margin:auto;
    font-size: 2rem;
}

@media only screen and (max-width:768px){
    .about-container{
       font-size: 1rem;
       text-align: center;
       width:90%;
    }

    .about-wrapper{
        width:80%;
        margin: 50px auto;
        box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.5);
        padding:15px;
        border-radius:5px;
    }

    
}