@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");

.home-section {
  // margin: 50px auto;
  width: 100%;
  max-width: 100%;

  justify-content: center;
  font-family: "Alice", "Times New Roman", Times, serif;
  border-radius: 10px;
}

// .meal-wrapper {
//   width: 80%;
//   max-width: 80%;

//   flex:0 0 17%;
// }
.service-wrapper {
  width: 80%;
  max-width: 80%;
  background-color: ghostwhite;
}

.service-container {
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.5);
  border-radius: 10px;

  // background-color: rgb(19, 42, 39);
}

.dayNames {
  border-bottom: rgb(172, 185, 185) 1px solid;
  margin: auto;
  height: 25px;
  padding: 3px;
}

.weekly-btns {
  padding: 5px;

  margin: auto;

  height: 30px;
}

.next-week {
  justify-content: flex-end;
}

// .next-week,
// .prev-week {
//   border-radius:25% 25px 25px 25px;
//   padding: 5px 10px;
//   background-color: rgb(24, 30, 36);
//   font-size: 0.8rem;
//   font-weight: 600;
//   color: bisque;
// }

.noservice-block {
  background-color: rgb(19, 42, 39);
  font-family: "Times New Roman", Times, serif;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  padding: 55px;
}

.lunch-container-home,
.dinner-container-home {
  position: relative;
  max-height: 400px;
  height: 300px;
  overflow: hidden;
  border: azure 1px solid;
  text-align: center;
  z-index: 1;
  border-bottom: rgb(119, 119, 119) 1px solid;
}

.hide-next-week {
  visibility: hidden;
}

.dates-and-titles {
  width: 50%;
  margin: 0 auto;
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 1024px) {
  // .lunch-container-home:hover {
  //   overflow: visible;
  //   cursor: pointer;
  //   position: absolute;
  //   width: 180px;
  //   max-width: 190px;
  // }

  // .dinner-container-home:hover {
  //   margin-top: -250px;
  //   overflow: visible;
  //   position: absolute;
  //   height: 100%;
  //   max-width: 190px;
  // }
}

@media only screen and (max-width: 780px) {
  .home-section {
    width: 100%;
  }

  .lunch-container-home {
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.5);
  }

  .meal-wrapper {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.5);
  }

  .service-wrapper {
    width: 100%;
    margin: 15px auto;
    padding:15px 5px;
    background-color: rgb(255, 213, 255);
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }
  .dates-and-titles {
    width: 75%;
    padding: 3px 0;
    margin: 0 auto;
    margin-bottom: 5px;
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
  }

  .service-container {
    width: 80%;
    flex-flow: column nowrap;
    margin: 0 auto;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  .lunch-container-home,
  .dinner-container-home {
    width: 100%;
    height: auto;
    margin: auto;
  }
}
