@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");

@mixin arrow-button(
  $color,
  $background,
  $shadow,
  $font-size,
  $width,
  $height,
  $direction
) {
  background: none;
  border: 0;
  font-size: $font-size;
  line-height: $height;
  position: relative;
  width: $width;
  height: $height;

  a {
    color: $color;
    text-decoration: none;
    position: relative;
    z-index: 10;
  }

  &::before,
  &::after {
    background: $background;
    border-radius: 2px;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    transition: all 1s;
    height: $height/2;
  }

  &::before {
    box-shadow: -1px 1px 0 $shadow, -2px 2px 0 $shadow, -3px 3px 0 $shadow,
      -4px 4px 0 $shadow;
    transform: skew(45deg);
    @if $direction == "left" {
      bottom: 0;
      z-index: 1;
    } @else {
      top: 0;
    }
  }

  &::after {
    box-shadow: 1px 1px 0 $shadow, 2px 2px 0 $shadow, 3px 3px 0 $shadow,
      4px 4px 0 $shadow;
    transform: skew(-45deg);
    @if $direction == "left" {
      top: 0;
    } @else {
      bottom: 0;
    }
  }

  &:hover::before,
  &:hover::after {
    background: lighten($background, 15%);
  }

  &:focus {
    &::before,
    &::after {
      background: lighten($background, 15%);
    }
    outline: 0;
  }
}

.home-section {

  margin: 50px auto;
  width: 93%;
  height: 515px;
  max-width: 100%;
  max-height: 600px;
  overflow: hidden;
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.5);
  justify-content: center;
  font-family: "Alice", "Times New Roman", Times, serif;
  border-radius: 10px;
}

.meal-wrapper {
  width: 100%;
  border: rgb(172, 185, 185) 1px solid;
  height: 100%;
}

.service-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.dayNames {
  border-bottom: rgb(172, 185, 185) 1px solid;
  margin: auto;
  height: 25px;
  padding: 3px;
}

.weekly-btns {
  width: 98%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  height: 30px;
}

.next-week {
  justify-content: flex-end;
}

// .next-week,
// .prev-week {
//   border-radius:25% 25px 25px 25px;
//   padding: 5px 10px;
//   background-color: rgb(24, 30, 36);
//   font-size: 0.8rem;
//   font-weight: 600;
//   color: bisque;
// }

.prev-week {
  @include arrow-button(
    rgb(246, 246, 246),
    rgb(24, 30, 36),
    #49585d,
    0.8rem,
    4rem,
    1.5rem,
    left
  );
}
.next-week {
  @include arrow-button(
    rgb(246, 246, 246),
    rgb(24, 30, 36),
    #49585d,
    1rem,
    4rem,
    1.5rem,
    right
  );
}

.noservice-block {
  background-color: rgb(19, 42, 39);
  font-family: "Times New Roman", Times, serif;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  padding: 55px;
}

.lunch-container-home,
.dinner-container-home,
.noservice-block {
  height: 250px;
  overflow: hidden;
  border: azure 1px solid;
  text-align: center;
  flex: 0 0 auto;
  z-index: 1;
  border-bottom: rgb(119, 119, 119) 1px solid;
}

.hide-next-week {
  visibility: hidden;
}

.dates-and-title {
}

@media only screen and (min-width: 1024px) {
  .lunch-container-home:hover {
    overflow: visible;
    cursor: pointer;
    position: absolute;
    width: 180px;
    max-width: 190px;
  }

  .dinner-container-home:hover {
    margin-top: -250px;
    overflow: visible;
    position: absolute;
    height: 100%;
    max-width: 190px;
  }
}

@media only screen and (max-width: 780px) {
  .home-section {
    overflow: auto;
  }

  .weekly-btns {
    width: 95%;
  }

  .service-container {
    width: 100%;
    height: auto;
    flex-flow: column nowrap;
    margin: 0 auto;
  }

  .lunch-container-home,
  .dinner-container-home {
    width: 100%;
    height: auto;
    margin: auto;
  }
}
