.date-arrow{
    width:100%;
    padding:0;
    display:flex;
    flex-flow:row wrap;
    height:40px;
}

.form-preview-container{
    width:100%;
    display:flex;
    flex-flow:row nowrap;
}

.planner-container{
   width:100%;
    margin-top:150px;
    display:flex;
    flex-flow:row wrap;
}

.serviceform-container{
    padding-right:100px;
}






.titles-wrapper{
    flex: 1 1 auto;
    
}

.planner-title, .date-arrow{
    flex:0 0 auto;
    margin-left:10%;
}

.titles-wrapper{
    display:flex;
    flex-flow:row wrap;
    width:40%;
    height:40px;
    padding:0;
    margin:0;
}



button{
    font-size:23px;
    background:transparent;
    border:none;

    &:hover{
        cursor: pointer;
    }
}

