.react-calendar {
  margin: 0 50px;
  min-width: 200px;
  width: 20%;
  padding: 5px;
  font-size: 0.9rem;
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.5);
}

.serviceform-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background-color: #7e3f62;
}

.react-calendar__tile:focus {
  background-color: rgba(6, 59, 58, 0.719);
}

.today {
  background-color: rgba(6, 59, 58, 0.719);
}

.calendar-and-preview-container {
  width: 100%;
  height: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.home-wrapper {
  width:100%;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all .7s ease-out;
  transform: scale(0.75);
  -webkit-transform: scale(0.75);
  -moz-transform:scale(0.75);
  -o-transform:scale(0.75);


  &:hover{
    cursor: pointer;
     -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
    transition: all .7s ease-in;
    transform:scale(1);
    -webkit-transform: scale(1);
  -moz-transform:scale(1);
  -o-transform:scale(1);
  }
}

.date-arrows {
}
.date-arrows-wrapper {
  width: 100%;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  font-size: 1.2rem;
}

.form-preview-container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.planner-container {
  width: 100%;
}



.serviceform-dates-wrapper {
  margin: 0 auto;
  height: 600px;
  display: flex;
  flex-flow: column nowrap;
  padding: 0;
}

.calendar-wrapper {
  margin: 0 auto;
  margin-bottom: 50px;
}

.calendar-col {
  margin: 0 auto;
  width: 100%;
  height: 100px;
}

.arrow_and_form_wrapper {
  width: 80%;
  padding: 25px;
  margin: auto;
}

.arrow_and_form_wrapper,
.home-wrapper {
  flex: 0 0 50%;
}

.planner-title {
  flex: 0 0 auto;
  margin-left: 10%;
}

.titles-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.date-btns {
  padding: 0 5px;
  margin: 0;
  font-size: 1.5rem;
  height: fit-content;
}

button {
  padding: 2px;
  background: transparent;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 798px) {
    .arrow_and_form_wrapper{
        width:100%;
    }

    .date-arrows{
        width:100%;
    }

    .date-arrows-wrapper{
        font-size: .9rem;
        padding:0;
        margin:0;
        padding-bottom:15px;
    }
  .serviceform-container {
    flex-flow: column wrap;
    border-radius: 20px;
  }

  .home-wrapper {
    transform: none;
  }
  .home-section {
    width: 100%;
  }

  .form {
    width: 100%;
    border-radius:15px;
  }

  .dates-and-titles {
    width: 75%;
    padding: 3px 0;
    margin: 0 auto;
    margin-bottom: 5px;
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
  }

  .preview-service-container {
    width: 95%;
    flex-flow: column nowrap;
    margin: 0 auto;
    border: none;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
  }

  .lunch-container-home,
  .dinner-container-home {
    width: 100%;
    height: auto;
    margin: auto;
  }
}
