.body{
  margin:0;
  padding:0;
}

*{
  box-sizing: border-box;
}
.container-box{
  width:100%;
  display:flex;
  flex-flow:column nowrap;
  margin:0;

  
}



.form-container {
  width:500px;
  display:flex;
  flex-flow:row wrap;
 box-shadow: 1px 1px 10px 1px rgb(167, 167, 167);
  margin-left:150px;
  
}

.entre-form{
  width:80%;
  display:flex;
  flex-flow:column wrap;
  margin-top:50px;
  flex:1 0 50%;
  padding:20px 0;
}

.input-text, .description{
  height:35px;
  width:75%;
  margin:0 auto;
}

.submit-btn{
  width:50%;
  height:20px;
  
 background-color: #000;
  border-radius: 4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: background-color 0.3s;

}













@media all and (max-width: 800px) and (max-width:400px) {
 .container-box{
  display:flex;
  flex-flow: row nowrap;
  width:90%;
 }

 input{
   width:15%;
   margin:5px;
   padding:5px;
 }
 .svc-type{
   margin:10 20px;

 }
}


